body {
  letter-spacing: 2px;
  background: rgb(35, 36, 0);
  background: linear-gradient(
    90deg,
    rgba(35, 36, 0, 1) 0%,
    rgba(114, 9, 121, 0.7091211484593838) 5%,
    rgba(0, 213, 255, 0.616) 50%
  );
}

.navbar-part {
  display: flex;
  justify-content: space-between;
}

.onur-img {
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: black;
}

i {
  padding-right: 8px;
}

a:hover {
  color: #36454f;
}

.img-tech {
  padding-right: 8px;
}
